@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@402;700;703&display=swap');

body{
	background-color: hsl(212, 45%, 89%);
}
.blocobranco{
	background-color: hsl(0, 0%, 100%);;
	border-radius: 17px;
	height: 380px;
	width: 240px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	overflow: auto;
}
.azul{
	width: 212px; 
	height: 212px;
	display: flex;
	border-radius: 15;
	margin-top: 13px;
	margin-left: auto;
	margin-right: auto;
}
.azul img{
	border-radius: 15px;
  	object-fit: cover;
}
h1{
	margin-left: 8px;
	margin-right: 8px;
	text-align: center;
	font-family: 'Outfit', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
h2{
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
}



